html,
body,
.main {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.main .topbar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main .box {
  flex: 1;
  padding-top: 50px;
}

.newsbg {
  background-image: url(http://localhost:3000/bg.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.newsbg .search-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 100;
}

.newsbg .search-container .list-group {
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

.newsbg .search-container .list-group a {
  text-decoration: none;
}

.cardContainer {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
}

.cardContainer .card {
  width: 330px;
}

.cardContainer .card .imgcover {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.cardContainer .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.newsTabs {
  padding: 40px;
  padding-top: 0;
}

.newsTabs .tab-link {
  color: black;
}

.newsTabs .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.newsTabs .card .imgcover {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
